body {
  font-family: Calibri;
}
.jumbotron {
  padding-top: 5rem;
  background-image: url('https://00f74ba44be8383814f820a350324c7dc0c9b14c1b-apidata.googleusercontent.com/download/storage/v1/b/randy_bucket1/o/istockphoto-504745834-612x612.jpg?jk=AFshE3W7M9J_EOwVBcyCJ3fbB29sfU6SI2TaxpZ3xtpJPoQO1kQB9NNetnRgViqHYCOwAbIHtqhSxqbsSWqdt2n-JJaoFJi9gtYanWNnbmOJfEA71jRH7UpFEt-24mMz3AoXkkm3WX4SorjioAhB8F7V0IQURos9HFJFvrwkO-MZe7rqTl02W5kOOqO47LVFh3j8024Myz--3V6IQk1rpR68u2FsMaIY7t495Dqnw7a425yv-fiuOd3jDqL5_zEzsK5fH7YUc07S0eL0Sx92lJ_K6lZn-iWMXQ3KW_xIO73LTu6rhG6ssN9aDI-NHUkjfhCNlCfkHcN91bitxs3G-ACRPVgylASWudPTEyXgsQxU4lEHbD5uxL0Wz1vLs0b4NJRrjnBpoLsMTVcmX5d-WFh_BJ4eGo6NKDLOYZqMjp9jkWEvv2lucxcrrALDxQR1TuCb1PudNVu4r2TRNA_S4F3zRvkx7VETi9ZpUp15bVuxjWg4LX-rrHFCXLXoo_jJKlMhqxG8Ngc8sRDSNq5GgUzL1R78XsxPy6HVv1Ee6mgOwTFF2GbUbIJLYziXKT2IXuxUBcT69vGGHOA5aELQOOfUsxlDoW08jzkqoGs--Hfc3QZ2NoV_LxteutyEMvMMjKD51RcSWg2vz7V3b_ddBxaFY-dkT7yHmIjKS_PQlBN6Mzqda_zZBHUddC7Qs3dX3iaT4bsh9tmzaHiq6ZMgSUVVTYMVMW5kxVoMFOAqgdLuPdA05C2CSxZaFIoffgeAXJZMzHrSVbwQIa8bP-duGcXjHpbpRzOn6XywCSrtna8tNW1hmyuqdh0-8HT7-fsKWuq_p0adEG2D2tr1NR0PWCwyfdEZSq53RO0yaN38amU3D3VrDaTBuEftFnLXSSSHY-IQQJzLhe3mJkVDFMUSFHDnHrFgmMBvwjzPi1g_A3aUaBEy1INdMEdpOn4jScSDKBSNOvK2xIZkVke6K61H_HLlszbnqvJ5QVrDJOqw44NlyW1VcswXhvOWrkOqq_9DqhCnaUpzmaGcyZnaKjXEeo0Ul5MlzTgsm7RLfOb74EzvsAc5cI3-dq7KGNP5cUmZ_RMT2-LeQU9jsdBD9X88xTE2nrqWNC6VApQNMMqx5B4H0lyevzB1hqH2Urez9Xrw8jw9MId3nUgcnh8mEd3PfEq9hiKcAnuZrFMnfGY82WCEn1VcNw&isca=1');

  background-color: #e2e2e2;
  background-size: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2rem;
}
.display-4 {
  font-weight: bolder;
}
.about {
  padding-top: 4rem;
  font-weight: bolder;
}
.contact {
  font-weight: bolder;
}
.hai {
  font-weight: bolder;
}
