body {
  font-family: Calibri;
}
.jumbotron {
  padding-top: 5rem;
  background-image: url('https://storage.googleapis.com/randy_bucket1/istockphoto-504745834-612x612.jpg');

  background-color: #e2e2e2;
  background-size: initial;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2rem;
}
.display-4 {
  font-weight: bolder;
}
.about {
  padding-top: 4rem;
  font-weight: bolder;
}
.contact {
  font-weight: bolder;
}
.hai {
  font-weight: bolder;
}
.lead{
  font-weight: bolder;
  font-kerning:initial;
}
